<div class="row">
  <div class="col-sm-12">
    <%= form_with(model:[@book, @book_comment], data: {remote: true}) do |f| %>
    <%= f.text_area :comment, rows:'2', class: "form-control", placeholder: "comment" %>
    <div style="margin-top: 20px">
      <%= f.submit "Create Comment" %>
      <% end %>
    </div>
  </div>
</div>